<html>
    <head>
        <title>
            test
        </title>
    </head>
    <body>
        <form action="/addfood" method="post">
            <div class="form-floating mb-4">
                <input
                  type="text"
                  class="form-control"
                  id="userName"
                  placeholder="Enter food name"
                  name="item"
                />
                <label for="userName">Add Item</label>
              </div>

              <div class="text-center mb-4">
                <input
                  class="btn btn-dark"
                  type="submit"
                  value="Log in"
                />
              </div>
        </form>
        <p><%=items%></p>
    </body>
</html>